{% extends 'base.html' %}


{% load static %}

{% block body %}
    <div id="wrapper">
        <!-- Top Navigation -->
        {% include 'core/partials/navbar.html' %}
        <!-- End Top Navigation -->
        <!-- Left navbar-sidebar -->
        {% include 'core/partials/sidebar.html' %}
        <!-- Left navbar-sidebar end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">
            <div>2018 &copy; Djotali by Botilab</div>
            <div>
                <i class="fa fa-mobile-phone"></i> Pascal : <a href="tel:+221781772940">+221 78 177 29 40</a>
            </div>
            <div>
                <p><i class="fa fa-mobile-phone"></i> Fatou : <a href="tel:+221782966916">+221 78 296 69 16</a></p>
            </div>
        </footer>
    </div>
{% endblock %}