{% extends 'core/base.html' %}
{% load static core_extras compress %}

{% block content %}
    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">{% block page-title %}{% endblock %}</h4>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-md-12">
            {% include 'core/partials/flash_messages.html' %}
            <div class="white-box">
                <form id="campaign-form" class="form" method="post" {% block form-block %} {% endblock %}>
                    <div class="row">
                        <div class="offset-1 col-lg-9">
                            {% for field in form %}
                                <div class="row">
                                    <div class="col-lg-12 form-group {% if field.errors %} has-error {% endif %}">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                        </label>
                                        {{ field | add_class:'form-control' }}
                                        {% if field.help_text %}
                                            <span class="help-block">
                                        {{ field.help_text }}
                                    </span>
                                        {% endif %}
                                        {% if field.errors %}
                                            <div class="help-block with-errors">
                                                <ul class="list-unstyled">
                                                    {% for e in field.errors %}
                                                        <li>{{ e }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-2 form-group">
                            <input type="submit" class="btn btn-sticky btn-success" value="Valider"/>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {#    {% compress js %}#}
    {#        <script src="{% static 'js/vue-instant.browser.js' %}"></script>#}
    {#    {% endcompress %}#}
    {#    {% compress css %}#}
    {#        <link rel="stylesheet" href="{% static 'css/vue-instant.css' %}">#}
    {#    {% endcompress %}#}
    <script>
        if (!window['djotali']) {
            window['djotali'] = {};
        }
        var djotali = window['djotali'];
        djotali.linkedModels = djotali.linkedModels || {};
        djotali.linkedModels.objectId = '{{ object.id }}';
    </script>
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
