<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
        {% if breadcrumbs %}
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.url %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
                {% else %}
                    <li class="active">{{ breadcrumb.title }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ol>
</div>