<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="form-control text-danger" type="submit"><i class="fa fa-power-off"></i>Se déconnecter</button>
</form>