{% if messages %}
    {% for message in messages %}

        {% if message.tags %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}