{% load static %}
{% load hijack_tags %}

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <!-- Toggle icon for mobile view -->
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
           data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <!-- Logo -->
        <div class="top-left-part" style="height: 100%">
            <a class="logo" href="#">
                <!-- Logo icon image, you can use font-icon also -->
                <b><img src="{% static 'plugins/images/djotali_white_transparent_48_48.png' %}" alt="home"/></b>
                <!-- Logo text image you can use text also -->
                <span class="hidden-xs"></span>
            </a>
        </div>
        <!-- /Logo -->
        <!-- Toggle icon -->
        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li>
                <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                    <i class="icon-arrow-left-circle ti-menu"></i>
                </a>
            </li>
            {% hijack_notification %}
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            {% if not request|is_hijacked and request.user and request.user.is_staff %}
                <!-- .User hijack -->
                <li style="margin-top: 1em;">
                    <form method="post" onsubmit="return hijackUser(this);">
                        {% csrf_token %}
                        <input type="text" class="form-control small" id="id_hijacked_username" name="hijacked_username" required placeholder="Username to hijack">
                    </form>
                </li>
                <script>
                    function hijackUser(hijackForm) {
                        var hijackedUsername = document.getElementById('id_hijacked_username').value;
                        hijackForm.action = '/hijack/username/' + hijackedUsername + '/';
                        hijackForm.submit();
                    }
                </script>
            {% endif %}
            <!-- .Billing dropdown -->
            <li class="dropdown">
                <a aria-expanded="false" data-toggle="dropdown" class="btn dropdown-toggle waves-effect waves-light">
                    Cr&eacute;dit: {{ request.credit }}
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{% url 'billing:index' %}">Facturation</a></li>
                </ul>
            </li>
            <!-- /.Billing dropdown -->
            <li class="dropdown">
                <a aria-expanded="false" data-toggle="dropdown" class="btn dropdown-toggle waves-effect waves-light" type="button">
                    <i class="fa fa-plus m-r-5"></i>
                    Ajouter
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{% url 'contacts:new' %}">Contact</a></li>
                    <li><a href="{% url 'contacts-groups:new' %}">Groupe de contacts</a></li>
                    <li><a href="{% url 'campaigns:new' %}">Campagne</a></li>
                </ul>
            </li>
            <!-- .user dropdown -->
            {% if request.user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <span class="hide-menu">
                            <b>
                                {{ request.user.username | slice:":17" }}{% if request.user.username|length >= 17 %}... {% endif %}
                            </b>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        {% if profile_is_organization_admin %}
                            <li><a href="{% url 'profile:organization-users' %}"><i class="icon-people"></i> Utilisateurs</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li>
                            {% include 'core/partials/_logout.html' %}
                        </li>
                    </ul>
                    <!-- /.user dropdown-user -->
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-static-side -->
</nav>