{% load core_extras %}
<nav aria-label="Page navigation example">
    {% with request.GET.urlencode as params %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link">
                    Page {{ page_obj.number }} sur {{ paginator.num_pages }}
                </a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% relative_url page_obj.next_page_number 'page' params %}">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    {% endwith %}
</nav>