{% load static %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            {% if request.user.is_authenticated %}
                <!-- User profile-->
                <div style="background: url({% static 'plugins/images/profile-menu.png' %}) center center/cover no-repeat;">
                    <li class="user-pro">
                        <a href="#" class="waves-effect">
                        <span class="hide-menu">
                            <div><h4>{{ request.organization }}</h4></div>
                            {% if profile_is_organization_admin %}
                                <i class="fa fa-user-md"></i>
                            {% endif %}
                            {{ request.user.username | slice:":17" }}{% if request.user.username|length >= 17 %}... {% endif %}
                            <span class="fa arrow"></span>
                        </span>
                        </a>
                        <ul class="nav nav-second-level">
                            {% if profile_is_organization_admin %}
                                <li><a href="{% url 'profile:organization-users' %}"><i class="icon-people"></i> Utilisateurs</a></li>
                            {% endif %}
                            <li>
                                {% include 'core/partials/_logout.html' %}
                            </li>
                        </ul>
                    </li>
                </div>
                <!-- User profile-->

                <li>
                    <a href="{% url 'dashboard:index' %}" class="waves-effect">
                        <i data-icon="v" class="icon-screen-desktop fa-fw"></i>
                        <span class="hide-menu">
                        Dashboard
                    </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'campaigns:index' %}" class="waves-effect">
                        <i data-icon="P" class="icon-rocket fa-fw"></i>
                        <span class="hide-menu">
                        Campagnes
                    </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="waves-effect">
                        <i data-icon="P" class="icon-user fa-fw"></i>
                        <span class="hide-menu">
                        Contacts
                        <span class="fa arrow"></span>
                    </span>
                    </a>

                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'contacts:index' %}">
                                Tous les contacts
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'contacts-groups:index' %}">
                                Groupes de Contacts
                            </a>
                        </li>
                        <li>
                        <a href="{% url 'contacts:import' %}">
                            Importer
                        </a>
                    </li>
                    </ul>
                </li>

                {% if request.user.is_admin %}
                    <li>
                        <a href="{% url 'admin:index' %}" class="waves-effect" target="_blank">
                            <i data-icon="P" class="icon-settings fa-fw"></i>
                            <span class="hide-menu">
                                Administration
                            </span>
                        </a>
                    </li>

                {% endif %}
            {% endif %}

        </ul>
    </div>
</div>