{% if errors %}
    {% for error in errors %}
        <p class="text-danger">
            <strong>{{ error|escape }}</strong><br>
        </p>
    {% endfor %}
{% endif %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="text-danger">
            <strong>{{ error|escape }}</strong><br>
        </p>
    {% endfor %}
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p class="text-danger">
                <strong>{{ error|escape }}</strong><br>
            </p>
        {% endfor %}
    {% endfor %}
{% endif %}