<form class="form">
    <div class="input-group">
        <input type="text" name="filter" value="{{ request.GET.filter }}" class="form-control" id="contacts__filter"
               placeholder="Filtre..." style="padding-right: 25px;">
        {% if request.GET.filter %}
            <span class="input-group-btn">
                <a href="{% url 'contacts:index' %}" class="btn reset_search"
                   style="position: absolute;right:-5px;z-index: 10;">
                    <i class="ion-ios-close-empty fa fa-2x" title="Chercher"></i>
                </a>
            </span>
        {% endif %}
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-search" title="Chercher"></i>
            </button>
        </span>
    </div>
</form>