{% extends 'contacts/contacts.html' %}
{% load contacts_extras %}

{% block title %}Supprimer le groupe de contacts{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'contacts:index' %}">Contacts</a></li>
    <li class="active">
        Supprimer
    </li>
{% endblock %}
{% block list_header %}
    <div class="row">
        <div class="col-lg-9 alert alert-danger">
            Êtes-vous sûr de vouloir supprimer ce contact ?
            {{ object }} ({{ object.phone_number | format_number }})
        </div>
        <div class="col-lg-3 alert alert-danger" role="alert">
            <form method="post">
                {% csrf_token %}
                <button class="fcbtn btn btn-default btn-outline btn-1d" style="margin-left: 2em" type="submit">
                    <span class="text-danger">
                        <i class="icon-trash"></i>
                        Confirmer
                    </span>
                </button>
                <a href="{% url 'contacts:index' %}" class="fcbtn btn btn-default btn-outline btn-1d reset_search">
                    <span class="text-danger">
                        <i class="icon-ban"></i>
                        Annuler
                    </span>
                </a>
            </form>
        </div>
    </div>
{% endblock %}
