{% extends 'core/form.html' %}
{% load static %}

{% block page-title %}&Eacute;diter le groupe de contacts{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li><a href="{% url 'contacts-groups:index' %}">Groupes de Contacts</a></li>
    <li class="active">
        &Eacute;diter
    </li>
{% endblock %}
