{% extends 'core/base.html' %}
{% load contacts_extras %}

{% block content %}

    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">
                {% block title %}
                {% endblock %}
            </h4>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                {% block breadcrumb %}
                {% endblock %}
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-md-12 col-lg-offset-0">

            {% block list_header %}
            {% endblock %}
            <div class="white-box">
                <div class="d-flex flex-md-row justify-content-end bd-highlight mb-3">
                    <div class="p-2">
                        <a href="{% url 'contacts-groups:new' %}" class="btn btn-success waves-effect waves-light pull-right">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Cr&eacute;er un groupe de contacts
                        </a>
                    </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table color-table info-table">
                                <thead class="thead-default">
                                <tr>
                                    <th width="2em"></th>
                                    <th>Nom</th>
                                    <th>Dernière mise à jour</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for contacts_group in contacts_groups %}
                                    <tr>
                                        <td>
                                            <span class="badge badge-info">
                                                {{ contacts_group.contacts_count }}
                                            </span>
                                        </td>
                                        <td>

                                            <a href="{% url 'contacts-groups:show' contacts_group.id %}" title="Afficher le groupe de contacts">
                                                {{ contacts_group.name }}
                                            </a>
                                        </td>
                                        <td>{{ contacts_group.updated_at }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-outline waves-effect" href="{% url 'contacts-groups:show' contacts_group.id %}"
                                                   title="Afficher le groupe de contacts">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                                <a class="btn btn-default btn-outline waves-effect"
                                                   href="{% url 'contacts-groups:edit' contacts_group.id %}" title="Editer le contact">
                                                    <i class="icon-pencil"></i>
                                                </a>
                                                {% with filter=request.GET.filter %}
                                                    {% if filter %}
                                                        <a class="btn btn-default btn-outline waves-effect"
                                                           href="{% url 'contacts-groups:delete' contacts_group.id %}?filter={{ filter }}"
                                                           title="Supprimer le groupe de contacts">
                                                    {% else %}
                                                        <a class="btn btn-default btn-outline waves-effect"
                                                           href="{% url 'contacts-groups:delete' contacts_group.id %}"
                                                           title="Supprimer le groupe de contacts">
                                                    {% endif %}
                                                {% endwith %}
                                                <i class="icon-trash text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                {% if is_paginated %}
                    <div class="d-flex flex-md-row justify-content-end bd-highlight mb-3">
                        <div class="p-2">
                            {% include 'core/partials/pagination.html' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock content %}
