{% extends 'core/form.html' %}
{% load static %}

{% block page-title %}Cr&eacute;er un groupe de contact{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li><a href="{% url 'contacts-groups:index' %}">Groupes de Contacts</a></li>
    <li class="active">
        Cr&eacute;er
    </li>
{% endblock %}
