{% extends 'core/base.html' %}
{% load contacts_extras %}

{% block title %}
    Groupe de contacts - {{ contact_group.name }}
{% endblock %}

{% block content %}
    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{% url 'contacts-groups:edit' object.id %}" title="Editer le groupe de contacts">
                <h4 class="page-title">
                    {{ object.name }}
                    <i class="icon-pencil" style="margin-left: .5em"></i>
                </h4>
            </a>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                <li><a href="{% url 'contacts-groups:index' %}">Groupes de contacts</a></li>
                <li class="active">
                    {{ object.name | slice:":25" }}{% if object.name|length >= 25 %}... {% endif %}
                </li>
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-offset-0">
            <div class="white-box">
                {% include 'core/partials/flash_messages.html' %}

                <div class="row m-t-20">
                    <div class="col-lg-12">
                        {% include "contacts/_contacts_table.html" %}
                    </div>
                </div>
                {% if is_paginated %}
                    <div class="d-flex flex-md-row justify-content-end bd-highlight mb-3">
                        <div class="p-2">
                            {% include 'core/partials/pagination.html' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
