{% load static compress %}
{% load google_analytics %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
    <title>Djotali - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% comment %}
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">{% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/sidebar-nav/sidebar-nav.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/css-chart/css-chart.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% compress css file custom %}
            <link rel="stylesheet" href="{% static 'css/colors/default.css' %}">
            <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% endcompress %}
    {% endblock %}
{% google_analytics %}
</head>

<body>
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
{% block body %}
{% endblock %}
<!-- /#page-wrapper -->
<!-- /#wrapper -->
<!-- jQuery -->
{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>


    <!-- Sidebar menu plugin JavaScript -->
    <script src="{% static 'plugins/sidebar-nav/sidebar-nav.min.js' %}"></script>
    <!--Slimscroll JavaScript For custom scroll-->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'plugins/waypoints/lib/jquery.waypoints.js' %}"></script>
    <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>
{% endblock %}


</body>
</html>