{% load static core_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Invitation - Djotali</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
<div width="100%"
     style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
            <tbody>
            <tr>
                <td style="vertical-align: top; padding-bottom:30px;" align="center">
                    <a href="{% abs_url '/' %}" target="_blank">
                        <img src="{% static_abs_url 'plugins/images/djotali_black_transparent_48_48.png' %}"
                             alt="Djotali" style="border:none"><br/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                    <td>

                        <b>Bonjour,</b>
                        <p>L'administrateur du compte "{{ organization }}" vous invite &agrave; cr&eacute;er un compte
                            sur l'application Djotali.</p>
                        <p>Cliquer sur le lien ci-dessous pour créer votre compte.</p>
                        <a href="{{ invitation_url|safe }}"
                           style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #00c0c8; border-radius: 60px; text-decoration:none;">
                            Accepter l&rsquo;invitation</a>
                        <p>Djotali vous rapproche de vos clients en facilitant le lancement de campagnes par SMS.</p>
                        <b>- A bientôt</b>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px">
            <p>Powered by Djotali</p>
        </div>
    </div>
</div>
</body>
</html>
