{% extends 'base.html' %}
{% load static %}

{% block title %}Invitation à créer un compte{% endblock %}
{% block body %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="signupform" method="POST" action="{% url 'profile:invitation' %}">
                    <h3 class="box-title m-b-20">Invitation à créer un compte</h3>
                    {% csrf_token %}
                    {% include "account/snippets/errors.html" %}
                    <input type="hidden" id="id_token" name="token" value="{{ token }}"/>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="hidden" name="email" id="id_email" value="{{ email }}">
                            <input type="hidden" name="username" id="id_username" value="{{ email }}">
                            Email : {{ email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input id="id_organization" name="organization" type="hidden" value="{{ organization }}">
                            Entreprise : {{ organization }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input id="id_password1" name="password1" type="password" class="form-control"
                                   required placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                                Créer le compte
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}