{% extends 'base.html' %}
{% load account %}

{% block title %}Activation du compte{% endblock %}
{% block body %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <h3 class="box-title m-b-20">En attente d'activation du compte</h3>
                <p>
                    Votre compte existe mais doit être approuvé par l'administrateur de votre compte entreprise.
                </p>
                <p>
                    Veuillez le contactez pour qu'il fasse le nécessaire ou nous contacter s'il est injoignable.
                </p>
                <a href="{% url 'account_login' %}" id="to-recover" class="text-primary pull-right">
                    <i class="icon-login"></i>
                    Revenir à l'écran de connexion
                </a>
            </div>
        </div>
    </section>
{% endblock %}