{% extends 'base.html' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="loginform" method="POST" action="{% url 'account_login' %}">
                    <h3 class="box-title m-b-20">Se connecter</h3>
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    {% include "account/snippets/errors.html" %}
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="email" name="login" id="id_login" required placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" name="password" id="id_password" type="password" required placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="id_remember" name="remember" type="checkbox">
                                <label for="id_remember"> Se souvenir de moi </label>
                            </div>
                            <a href="{% url 'account_reset_password' %}" id="to-recover" class="text-dark pull-right">
                                <i class="fa fa-lock m-r-5"></i>
                                Mot de passe oublié ?
                            </a>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Se connecter</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Pas encore de compte ? <a href="{{ signup_url }}" class="text-primary m-l-5"><b>Créez en un</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}