{% extends 'base.html' %}
{% load account %}

{% block title %}Récupérer son mot de passe{% endblock %}
{% block body %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <h3 class="box-title m-b-20">Récupérer son mot de passe</h3>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    Nous vous avons envoyé un email. Veuillez nous contacter, si vous ne l'avez pas reçu d'ici quelques minutes.
                </p>
            </div>
        </div>
    </section>
{% endblock %}