{% extends 'base.html' %}
{% load account %}

{% block title %}Récupérer son mot de passe{% endblock %}
{% block body %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="passwordresetform" method="POST" action="{% url 'account_reset_password' %}">
                    <h3 class="box-title m-b-20">Récupérer son mot de passe</h3>
                    {% include "account/snippets/errors.html" %}
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>
                        Perdu votre mot de passe ? Pas de panique. Entrez votre email ci-dessous pour recevoir le lien vous permettant
                        d'en saisir un nouveau.
                    </p>
                    {% csrf_token %}
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="email" class="form-control" name="email" id="id_email" required placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}