{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Votre mot de passe est changé{% endblock %}

{% block content %}
    <h1>Changement de mot de passe</h1>
    <p>Votre mot de passe est changé</p>
{% endblock %}
