{% extends "base.html" %}

{% block title %}Changer son mot de passe{% endblock %}

{% block body %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <h1>{% if token_fail %}Token invalide{% else %}Changer son mot de passe{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>Le lien pour changer son mot de passe est invalide, certainement parce qu'il a déjà utilisé. Merci d'en demander un <a
                            href="{{ passwd_reset_url }}">nouveau</a></p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input type="password" class="form-control" name="password1" id="id_password1" required placeholder="Nouveau mot de passe">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input type="password" class="form-control" name="password2" id="id_password2" required placeholder="Confirmer le mot de passe">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                                        Changer le mot de passe
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <p>Votre mot de passe a été changé</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
