/* FORMS */

.btn-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 6em;
    padding: 1.5em 2.5em;
}

/* LOGIN PAGE */

.login-register {
    background: url(/static/plugins/images/login-register-1ef474ca954116e545da56fdf39e.jpg) center center/cover no-repeat !important;;
}

/* SIDE AND NAV BARS */

.dropdown .form-control, .nav .form-control {
    border: none;
}

.nav .form-control {
    text-align: left;
    padding-left: 1.4em;
}

.sidebar #side-menu .user-pro .nav-second-level li button.form-control i {
    margin-right: .8em;
}

.dropdown .form-control i.fa, .nav .form-control i.fa {
    margin-left: 0;
    margin-right: 0.3em;
}

.sidebar #side-menu .user-pro {
    background-color: rgba(80, 84, 103, 0.5);
}

.sidebar #side-menu .user-pro a {
    width: 100%;
}

.sidebar #side-menu .user-pro a, .sidebar #side-menu .user-pro a h4 {
    color: whitesmoke;
}

.sidebar #side-menu .user-pro button {
    background-color: transparent;
    color: floralwhite !important;
    font-weight: bolder;
}
