<div class="row">
    <div class="col-lg-8">{% include "django/forms/widgets/select.html" %}</div>
    {% if widget.edit_url %}
        <div class="col-lg-4"><a href="{{ widget.edit_url }}">{{ widget.edit_label }}</a></div>
    {% endif %}
</div>