{#<div id="{{ widget.attrs.id }}_container"></div>#}
<section id="{{ widget.attrs.id }}_container">
    <linked-models-search-bar></linked-models-search-bar>
    <linked-models-input></linked-models-input>
    <div class="row m-t-20">
        <div class="col-lg-12">
            <div class="table-responsive">
                <linked-models-table></linked-models-table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 offset-lg-8">
            <pagination></pagination>
        </div>
    </div>
</section>
