<div class="input-group">
    <input id="{{ widget.name }}_day" name="{{ widget.name }}_day" type="text" class="form-control datedropper"
            {# TODO to modify when locale#}
           data-lang="fr" data-format="d/m/Y" data-large-mode="true" data-lock="from"
           placeholder="dd/mm/yyyy" data-default-date="{{ widget.date }}" readonly
           style="cursor: pointer; background-color: white">
    <span class="input-group-addon bg-info b-0 text-white">à</span>
    <input id="{{ widget.name }}_time" name="{{ widget.name }}_time" type="text" class="form-control clockpicker"
           value="{{ widget.time }}" readonly
           style="cursor: pointer; background-color: white">
</div>
