{% extends 'core/form.html' %}
{% load static %}

{% block page-title %}&Eacute;diter la campagne{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li><a href="{% url 'campaigns:index' %}">Campagnes</a></li>
    <li>
        <a href="{% url 'campaigns:show' campaign.id %}">
            {{ campaign.name | slice:":25" }}{% if campaign.name|length >= 25 %}... {% endif %}
        </a>
    </li>
    <li class="active">
        &Eacute;diter
    </li>
{% endblock %}
