{% extends 'core/base.html' %}
{% load campaigns_extras %}

{% block content %}
    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Campagnes</h4>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                <li class="active">
                    Campagnes
                </li>
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-md-12">

            {% include 'core/partials/flash_messages.html' %}
            <div class="white-box">
                <div class="d-flex flex-md-row justify-content-end bd-highlight mb-3">
                    <div class="p-2">
                        <a href="{% url 'campaigns:new' %}" class="btn btn-success waves-effect waves-light pull-right">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Cr&eacute;er une campagne
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                        <tr>
                            <th><abbr title="Nom">Nom</abbr></th>
                            <th><abbr>Lancement</abbr></th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for c in list_objects %}
                            <tr>
                                <td>
                                    <a href="{% url 'campaigns:show' c.id %}" title="Afficher la campagne">
                                        {{ c.name }}
                                    </a>
                                </td>
                                <td class="{% if c.start_date_proximity_order_key > 0 %} text-danger {% endif %}">
                                    {{ c.start_date|date:"d-m-Y H:i" }}
                                </td>
                                <td class="align-bottom">
                                    <div class="progress">
                                        {% widthratio c.sent_count c.notification_count 100 as sent %}
                                        <div class="progress-bar bg-success"
                                             role="progressbar" aria-valuenow="{{ sent }}" aria-valuemin="0"
                                             aria-valuemax="100" style="width: {{ sent }}%">
                                            <span class="sr-only">{{ sent }}% Sent</span>
                                        </div>

                                        {% widthratio c.failed_count c.notification_count 100 as failed %}
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                             aria-valuenow="{{ fail }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ failed }}%">
                                            <span class="sr-only">{{ fail }}% Failed</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        {% with c|can_launch_campaign as launchable %}
                                            {% if launchable %}
                                                <a class="btn btn-default btn-outline waves-effect" title="Send notifications"
                                                   href="{% url 'campaigns:notify_campaign' c.id %}">
                                                    <i class="icon-paper-plane"></i>
                                                </a>
                                            {% endif %}
                                        {% endwith %}
                                        <a class="btn btn-default btn-outline waves-effect" href="{% url 'campaigns:show' c.id %}"
                                           title="Afficher la campagne">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                        <a class="btn btn-default btn-outline waves-effect" href="{% url 'campaigns:edit' c.id %}"
                                           title="Editer la campagne">
                                            <i class="icon-pencil"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {% include 'core/partials/pagination.html' %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
