{% extends 'core/form.html' %}
{% load static %}

{% block page-title %}Cr&eacute;er la campagne{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li><a href="{% url 'campaigns:index' %}">Campagnes</a></li>
    <li class="active">
        Cr&eacute;er
    </li>
{% endblock %}
